/* Pour l'image Jaakuna-1.png */
.burger-menu-container .menu-nav .jaakuna::before {
    content: url('foce-child/assets/images/Jaakuna-1.png');
    position: absolute;
    left: 10%; /* Ajustez cette valeur selon votre mise en page */
    top: 20%; /* Ajustez cette valeur selon votre mise en page */
    width: 70px; /* Ajustez la taille de l'image selon vos besoins */
    height: 70px; /* Ajustez la taille de l'image selon vos besoins */
    animation: floatAnimation 10s ease-in-out infinite;
    transform-origin: center; /* Définir l'origine de la transformation au centre */
  }
  
  /* Pour l'image Kawaneko.png */
  .burger-menu-container .menu-nav .kawaneko::before {
    content: url('foce-child/assets/images/Kawaneko.png');
    position: absolute;
    left: 20%; /* Ajustez cette valeur selon votre mise en page */
    top: 30%; /* Ajustez cette valeur selon votre mise en page */
    width: 70px; /* Ajustez la taille de l'image selon vos besoins */
    height: 70px; /* Ajustez la taille de l'image selon vos besoins */
    animation: floatAnimation 10s ease-in-out infinite;
    transform-origin: center; /* Définir l'origine de la transformation au centre */
  }
  
  /* Pour l'image Orenjiiro-1.png */
  .burger-menu-container .menu-nav .orenjiiro::before {
    content: url('foce-child/assets/images/Orenjiiro-1.png');
    position: absolute;
    left: 30%; /* Ajustez cette valeur selon votre mise en page */
    top: 40%; /* Ajustez cette valeur selon votre mise en page */
    width: 70px; /* Ajustez la taille de l'image selon vos besoins */
    height: 70px; /* Ajustez la taille de l'image selon vos besoins */
    animation: floatAnimation 10s ease-in-out infinite;
    transform-origin: center; /* Définir l'origine de la transformation au centre */
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
