@charset "UTF-8";
@keyframes SectionParallax {
  from {
    opacity: 0;
    transform: translateY(180px);
    transition: opacity 0.5s ease, transform 1s ease;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* CSS pour l'effet de fondu */
/* fleurs qui tournent*/
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    /* Logo complètement transparent au début */
  }
  to {
    opacity: 1;
    /* Logo complètement visible à la fin */
  }
}
/* Animation de flottement */
@keyframes floatAnimation {
  from {
    transform: translateY(20px) translateX(-50%) rotate(-5deg);
    /* Déplacer légèrement le logo vers le bas et le faire pivoter de -10 degrés */
  }
  to {
    transform: translateY(-20px) translateX(-50%) rotate(5deg);
    /* Mouvement de flottement vers le haut */
  }
}
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation du burger-menu */
/* Styles pour la navigation dans le thème enfant */
/* Menu burger */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateFlowerSunflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerBefore {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* le reste des fleurs qui tournent */
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Pour l'image Jaakuna-1.png */
/* Pour l'image Kawaneko.png */
/* Pour l'image Orenjiiro-1.png */
@keyframes ChatfloatSwingAnimationJaakuna {
  0%, 100% {
    transform: translateY(10px) rotate(10deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-10px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationKawaneko {
  0%, 100% {
    transform: translateY(5px) rotate(5deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-5px) rotate(-5deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationOrenjiiro {
  0%, 100% {
    transform: translateY(15px) rotate(-30deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-15px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
#studio.active h2 span#studiotext {
  opacity: 1;
  transform: translateY(0);
}
#studio.active::before, #studio.active::after {
  top: -10px;
  opacity: 1;
}

#studiotext.active::before, #studiotext.active::after {
  top: -10px;
  opacity: 1;
}

span#studiotext {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.story.active h2 span#text {
  opacity: 1;
  transform: translateY(0);
}
.story.active::before, .story.active::after {
  top: -10px;
  opacity: 1;
}

#text.active::before, #text.active::after {
  top: -10px;
  opacity: 1;
}

span#text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#character-title.active h3 span#character-title {
  opacity: 1;
  transform: translateY(0);
}
#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

span#character-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#lelieu.active h3 span#lelieu {
  opacity: 1;
  transform: translateY(0);
}
#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

span#lelieu {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.studio.active h2 span#koukaki {
  opacity: 1;
  transform: translateY(0);
}
.studio.active::before, .studio.active::after {
  top: -10px;
  opacity: 1;
}

#koukaki.active::before, #koukaki.active::after {
  top: -10px;
  opacity: 1;
}

span#koukaki {
  opacity: 0;
  transform: translateY(19px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 0.15s;
}

@media (min-width: 320px) and (max-width: 869px) {
  .oscar {
    background-size: contain;
    left: 20px;
    top: 5px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% - 40px);
    max-width: 320px;
    overflow: hidden;
  }
  .oscar p {
    font-family: "Quicksand", sans-serif;
    font-size: 14px !important;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    margin-top: 18px !important;
    margin-left: 10px !important;
    position: relative;
    z-index: 2;
  }
  .oscar-image {
    width: 50%;
    position: relative;
    align-self: center;
    margin-top: 20px;
  }
  #studio h2::before,
  #studio h2::after {
    position: absolute;
  }
  #studio h2 {
    margin-top: 150px; /* Ajustez cette valeur selon vos besoins */
  }
  #studio h2,
  #studiotext h2,
  #koukaki h2 {
    font-size: 24px; /* Réduire la taille de la police selon vos besoins */
  }
  #studio {
    top: -200px; /* Déplacer la section de 20 pixels vers le haut */
    z-index: 3; /* Assurez-vous que la section studio a un index z plus élevé que la section story */
  }
  #story h2::before,
  #story h2::after {
    display: none;
  }
  .story__article::before,
  .story__article::after {
    display: none;
  }
  #studio h2::before,
  #studio h2::after {
    position: absolute;
  }
  #studio h2 {
    margin-top: 150px; /* Ajustez cette valeur selon vos besoins */
  }
  #studio h2,
  #studiotext h2,
  #koukaki h2 {
    font-size: 28px; /* Réduire la taille de la police selon vos besoins */
  }
  #story {
    top: 100px;
  }
  .story__article {
    width: 100%;
    font-size: 14px;
    padding-bottom: -1em;
    padding-right: 40px;
    padding-left: 40px;
  }
  #conte {
    font-size: 14px; /* Réduire la taille de la police */
    max-width: 100%; /* Réduire la largeur du conteneur */
    margin: 0 auto; /* Centrer le contenu */
    word-spacing: -0.001em; /* Réduire l'espacement entre les mots */
  }
  .swiper-slide {
    transform: scale(0.8); /* Réduire la taille du Swiper */
  }
  #masthead .main-navigation {
    top: auto;
  }
  .site-footer {
    margin-bottom: -200px;
  }
  .site-footer::before {
    left: 2em;
    top: 1em;
  }
  .site-footer::after {
    right: -6em;
    bottom: 5em;
  }
  .footer ul::after {
    left: calc(50% - 170px);
    bottom: -14em;
  }
  .main-character {
    width: 100%;
  }
  #lieu {
    top: -250px; /* Remonte la section de 200px */
  }
  #lieu > div {
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  #lieu > div p {
    padding-right: 100px;
    font-size: 12px;
  }
  #lieu .lieu-container {
    left: -50px;
    padding-top: 20px;
  }
  .place--big_cloud {
    width: 100px;
    top: 40px;
    left: calc(100% - 200px);
  }
  .place--little_cloud {
    width: 80px;
    top: 120px;
    left: calc(100% - 50px);
  }
  .studiok {
    top: 600px;
    z-index: 999;
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0%;
    width: 100%;
  }
  .menu li {
    margin: 10px 0;
  }
  .burger-menu-container {
    width: 100%;
    height: 160vh;
    position: absolute;
  }
  .burger-menu-container .menu-nav::before {
    top: 100px;
  }
  h3 {
    background-image: url("./assets/images/orange_place_bg.png");
    margin-bottom: -1em;
    transition: opacity 0.5s ease; /* Ajout de la transition pour lisser le changement d'opacité */
  }
  .videolog {
    height: calc(100vh - 400px); /* Réduire la hauteur de la div */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    position: absolute;
  }
  .videolog.loaded {
    margin-top: -200px;
  }
  .videolog img#logo {
    position: absolute;
    top: calc(50% - 70px) !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    animation: fadeInSlideUp 0.5s ease forwards, floatAnimation 4s ease infinite alternate;
  }
  #character-section h3 {
    left: 0px;
    font-size: 48px;
  }
  #characters {
    position: relative;
    transform: scale(0.7);
    right: 390px;
    bottom: 150px;
  }
  .swiper-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease;
    justify-content: center; /* Centrer les diapositives horizontalement */
  }
  .menu-toggle {
    order: 2;
    display: block;
    left: 80%;
  }
  .menu-item a {
    display: block;
    padding-top: 0px;
    font-size: 18px;
    z-index: 999;
  }
  ul {
    text-align: center;
    width: 100%;
    display: block;
  }
  #colophon {
    top: -200px;
  }
  .burger-menu-container .menu-nav::before {
    margin-top: 80px;
  }
  .burger-menu-container .menu-nav .kawaneko {
    position: relative;
    top: 28px !important;
    width: 110px;
    height: 110px;
    animation: ChatfloatSwingAnimationKawaneko 2s ease-in-out infinite;
    transform-origin: center;
  }
  .burger-menu-container .menu-nav .orenjiiro {
    content: url(./assets/images/Orenjiiro-1.png);
    position: relative;
    right: 30%;
    top: 400px !important;
    width: 110px;
    height: 110px;
    animation: ChatfloatSwingAnimationOrenjiiro 2s ease-in-out infinite;
    transform-origin: center;
  }
  .burger-menu-container .menu-nav .jaakuna {
    content: url(./assets/images/Jaakuna-1.png);
    position: absolute;
    left: 50% !important;
    top: 400px !important;
    width: 150px;
    height: 150px;
    animation: ChatfloatSwingAnimationJaakuna 2s ease-in-out infinite;
    transform-origin: center;
  }
  .hibiscus-footer {
    position: absolute;
    right: -300px;
    bottom: -800px !important;
    width: 600px;
    height: 600px;
    background-image: url("./assets/images/hibiscus_footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotateFlower 5s linear infinite;
    transform-origin: center center;
    z-index: -2 !important;
  }
}/*# sourceMappingURL=mobile.css.map */