@import "mixins";

@media only screen and (max-width: 920px) {
  .story {
    h2 {
      &::before {
        top: 5em;
        z-index: auto;
        display: none;
      }

      &::after {
        width: 100px;
        height: 100px;
        top: 4em;
        display: none;
      }
    }
  }

  #story {
    margin-top: 300px;
    margin-bottom: 0px;
  }
  .videolog.loaded {
    margin-top: 0px;
  }
  #characters {
    margin-bottom: -200px;
  }

  .story__article {
    width: 60%;
    font-size: 14px;
    padding-bottom: 1em;
    margin-top: -20px;
    padding-right: 40px;
    padding-left: 40px;

    &::before {
      top: auto;
      left: 24em;
      display: none;
    }

    &::after {
      left: calc(50% + 214px);
      top: 9em;
      width: 50px;
      height: 50px;
      display: none;
    }
  }

  #lieu > div {
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 40px;
  }

  .videolog {
    width: 100%;
    height: 100vh;

    margin-top: -220px;
    margin-bottom: -300px;

    img {
      width: 30%;
      top: calc(50% - 100px);
    }
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }

  .menu {
    display: none;
    position: absolute;
    right: 20%;
    width: 100%;

    li {
      margin: 10px 0;
    }
  }

  .burger-menu-container {
    width: 100%;
    left: 0px;
  }

  h3 {
    left: 0%;
  }

  .oscar-image {
    max-width: 300px;
    margin-right: 300px;
    margin-top: 130px;
  }

  #logo {
    top: 250px;
  }
}

#studio {
  margin-top: 300px;
  margin-bottom: -200px;
}

#masthead .main-navigation .nav-menu {
  display: flex !important;
  justify-content: center !important;
  width: 60% !important;
}

.burger-menu-container #logo-small {
  width: 15%;
  position: absolute;
  top: 200px;
  z-index: 999;
  right: 200px;
}
.burger-menu-container .menu-nav::before {
  content: url(./assets/images/orchid.png);
  position: absolute;
  left: -60px;
  top: 50%;
  width: 173px;
  height: 169px;
  animation: rotateRandomFlower 10s linear infinite !important;
  transform-origin: center;
  z-index: -10;
}
@media (max-width: 360px) {
  .story__article {
    width: 100%;
    font-size: 14px;
    padding-bottom: -1em;
    padding-right: 40px;
    padding-left: 40px;
  }

  #conte {
    font-size: 14px; /* Réduire la taille de la police */
    max-width: 100%; /* Réduire la largeur du conteneur */
    margin: 0 auto; /* Centrer le contenu */

    word-spacing: -0.001em; /* Réduire l'espacement entre les mots */
  }

  .swiper-slide {
    transform: scale(0.8) !important; /* Réduire la taille du Swiper */
  }

  #masthead .main-navigation {
    top: auto;
  }

  .oscar {
    background-size: contain;
    left: 20px;
    top: 5px;
    padding-bottom: 200px;
    display: flex;
    width: calc(100% - 40px);
    max-width: 320px;
    overflow: hidden;

    p {
      font-size: 16px;
      margin-top: 30px;
      margin-left: 20px;
    }
  }

  .oscar-image {
    width: 20%;
    position: relative;
    align-self: center;
  }

  .site-footer {
    &::before {
      left: 2em;
      top: 1em;
    }

    &::after {
      right: -6em;
      bottom: 5em;
    }
  }

  .footer {
    ul {
      &::after {
        left: calc(50% - 170px);
        bottom: -14em;
      }
    }
  }

  #new-title {
    font-size: 24px;
    padding: 20px;
    margin-right: 20px;
  }

  .main-character {
    width: 100% ;
  }

  .swiper-wrapper {
    width: calc(100% * 3);
  }

  .swiper-slide {
    flex: 0 0 calc(100% / 3);
  }

  #lieu {
    min-height: 0;
    bottom: 350px; /* Remonte la section de 200px */
    margin-top: 100px; /* Remonte la section de 200px */

    > div {
      margin: 0 auto;
      margin-top: 80px;
      padding-left: 20px;
      padding-bottom: 50px;

      p {
        padding-right: 100px;
        font-size: 12px;
      }
    }
    .lieu-container {
      left: -50px;

      padding-top: 20px;
    }
  }

  .place--big_cloud {
    width: 100px;
    top: 40px;
    left: calc(100% - 200px);
  }

  .place--little_cloud {
    width: 80px;
    top: 120px;
    left: calc(100% - 50px);
  }

  .menu-item {
    a {
      font-size: 28px;
      z-index: 999;
    }
  }

  .studiok {
    top: 600px;
    z-index: 999;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }

  .menu {
    display: none;
    position: absolute;
    right: 20%;
    width: 100%;

    li {
      margin: 10px 0;
    }
  }

  .burger-menu-container {
    width: 100%;
    height: 160vh;
    position: absolute;
  }

  .burger-menu-container .menu-nav::before {
    top: 100px;
  }

  
    #logo-small {
      width: 40%; /* Vous avez modifié la largeur, je conserve cette modification */
      position: absolute; /* Utilisez une position relative pour permettre les déplacements */
      top: 100px; /* Déplacez le logo vers le bas de 100px si nécessaire */
      left: auto; /* Réinitialisez la propriété left */
      right: 80px; /* Déplacez le logo vers la droite de 90px */
      z-index: 999;
    }
 

  #studio {
    margin-top: -80px; /* Déplacer la section de 20 pixels vers le haut */
    top: 80px;
  }

  #story {
    margin-top: -300px; /* Remonte la section de 200px */
    z-index: -1;
  }

  #characters {
    width: 100%;
    min-height: 700px;

    position: relative;

    > div {
      max-width: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    h3 {
      background-image: url("./assets/images/orange_place_bg.png");
      margin-bottom: -1em;
      transition: opacity 0.5s ease; /* Ajout de la transition pour lisser le changement d'opacité */
    }
  }

  .videolog {
    height: calc(100vh - 400px); /* Réduire la hauteur de la div */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    position: absolute;
  }
  .videolog.loaded {
    margin-top: -200px;
}
  #logo {
    top: 100px;
  }
}
/* Styles pour les écrans de 361px jusqu'à 919px */
@media screen and (min-width: 361px) and (max-width: 919px) {
  /* Ajustement de la taille de la police pour la section #characters */
  #characters {
    right: 550px;
    width: 100%;
    min-height: 700px;
    overflow: visible;
    position: relative;
    top: -150px;

  }
/* Styles pour les écrans de 361px jusqu'à 919px */
@media screen and (min-width: 361px) and (max-width: 919px) {
  /* Ajustement de la taille de la police pour la section #characters */
  #characters {
    right: 550px;
    width: 100%;
    min-height: 700px;
    overflow: visible;
    position: relative;
    top: -150px;
  }

  /* Ajustement des styles pour la section .story #characters */
  .story #characters {
    margin: 6em;
    display: flex;
    text-align: center;
    right: 425px;
    transform: scale(0.8); // Utilisation de "transform" au lieu de "scale"
  }

  #story {
    top: -20px; // Ajustement de la position
  }

  .lieu-container {
    top: -50px; // Ajustement de la position
  }

  #studio {
    top: -300px; // Ajustement de la position
    margin-bottom: -300px;
  }

  h2 {
    font-size: xx-large; // Ajustement de la taille de la police pour les h2
  }

 #oscar.oscar {
    background-image: url(./assets/images/rectangle.png);
    background-repeat: no-repeat;
    background-size: 380px 400px;
    position: relative;
    left: 0px;
    top: 0px;
    padding-bottom: 400px;
    z-index: 1;
    display: flex;
    overflow: hidden;
}
#oscar.oscar p {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  line-height: 1.2;
  margin-top: 100px;
  margin-left: 60px;
  position: absolute;
  z-index: 2;
}
.menu-item {
  a {
    top: 250px;
    font-size: 28px;
    z-index: 999;
  }
}

  .burger-menu-container #logo-small {
      width: 30%;
      position: absolute;
      top: 60px;
      z-index: 999;
      right: 250px;
  }

  #lieu > div p {
    padding-left: 2em;
}

  #lieu .lieu-container {
    position: relative;
    overflow: hidden;
    left: -50px;
}
  }


}
