@charset "UTF-8";
@keyframes SectionParallax {
  from {
    opacity: 0;
    transform: translateY(180px);
    transition: opacity 0.5s ease, transform 1s ease;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* CSS pour l'effet de fondu */
/* fleurs qui tournent*/
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    /* Logo complètement transparent au début */
  }
  to {
    opacity: 1;
    /* Logo complètement visible à la fin */
  }
}
/* Animation de flottement */
@keyframes floatAnimation {
  from {
    transform: translateY(20px) translateX(-50%) rotate(-5deg);
    /* Déplacer légèrement le logo vers le bas et le faire pivoter de -10 degrés */
  }
  to {
    transform: translateY(-20px) translateX(-50%) rotate(5deg);
    /* Mouvement de flottement vers le haut */
  }
}
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation du burger-menu */
/* Styles pour la navigation dans le thème enfant */
/* Menu burger */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateFlowerSunflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerBefore {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* le reste des fleurs qui tournent */
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Pour l'image Jaakuna-1.png */
/* Pour l'image Kawaneko.png */
/* Pour l'image Orenjiiro-1.png */
@keyframes ChatfloatSwingAnimationJaakuna {
  0%, 100% {
    transform: translateY(10px) rotate(10deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-10px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationKawaneko {
  0%, 100% {
    transform: translateY(5px) rotate(5deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-5px) rotate(-5deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationOrenjiiro {
  0%, 100% {
    transform: translateY(15px) rotate(-30deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-15px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
#studio.active h2 span#studiotext {
  opacity: 1;
  transform: translateY(0);
}
#studio.active::before, #studio.active::after {
  top: -10px;
  opacity: 1;
}

#studiotext.active::before, #studiotext.active::after {
  top: -10px;
  opacity: 1;
}

span#studiotext {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.story.active h2 span#text {
  opacity: 1;
  transform: translateY(0);
}
.story.active::before, .story.active::after {
  top: -10px;
  opacity: 1;
}

#text.active::before, #text.active::after {
  top: -10px;
  opacity: 1;
}

span#text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#character-title.active h3 span#character-title {
  opacity: 1;
  transform: translateY(0);
}
#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

span#character-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#lelieu.active h3 span#lelieu {
  opacity: 1;
  transform: translateY(0);
}
#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

span#lelieu {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.studio.active h2 span#koukaki {
  opacity: 1;
  transform: translateY(0);
}
.studio.active::before, .studio.active::after {
  top: -10px;
  opacity: 1;
}

#koukaki.active::before, #koukaki.active::after {
  top: -10px;
  opacity: 1;
}

span#koukaki {
  opacity: 0;
  transform: translateY(19px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 0.15s;
}

@media only screen and (max-width: 920px) {
  .story h2::before {
    top: 5em;
    z-index: auto;
    display: none;
  }
  .story h2::after {
    width: 100px;
    height: 100px;
    top: 4em;
    display: none;
  }
  #story {
    margin-top: 300px;
    margin-bottom: 0px;
  }
  .videolog.loaded {
    margin-top: 0px;
  }
  characters {
    margin-bottom: -200px;
  }
  .story__article {
    width: 60%;
    font-size: 14px;
    padding-bottom: 1em;
    margin-top: -20px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .story__article::before {
    top: auto;
    left: 24em;
    display: none;
  }
  .story__article::after {
    left: calc(50% + 214px);
    top: 9em;
    width: 50px;
    height: 50px;
    display: none;
  }
  #lieu > div {
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 40px;
  }
  .videolog {
    width: 100%;
    height: 100vh;
    margin-top: -220px;
    margin-bottom: -300px;
  }
  .videolog img {
    width: 30%;
    top: calc(50% - 100px);
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }
  .menu {
    display: none;
    position: absolute;
    right: 20%;
    width: 100%;
  }
  .menu li {
    margin: 10px 0;
  }
  .burger-menu-container {
    width: 100%;
    left: 0px;
  }
  h3 {
    left: 0%;
  }
  .oscar-image {
    max-width: 300px;
    margin-right: 300px;
    margin-top: 130px;
  }
  #logo {
    top: 250px;
  }
}
#studio {
  margin-top: 300px;
  margin-bottom: -200px;
}

#masthead .main-navigation .nav-menu {
  display: flex !important;
  justify-content: center !important;
  width: 60% !important;
}

.burger-menu-container #logo-small {
  width: 15%;
  position: absolute;
  top: 180px;
  z-index: 999;
  right: 200px;
}

.burger-menu-container .menu-nav::before {
  content: url(./assets/images/orchid.png);
  position: absolute;
  left: -60px;
  top: 50%;
  width: 173px;
  height: 169px;
  animation: rotateRandomFlower 10s linear infinite !important;
  transform-origin: center;
  z-index: -10;
}

@media (max-width: 360px) {
  .story__article {
    width: 100%;
    font-size: 14px;
    padding-bottom: -1em;
    padding-right: 40px;
    padding-left: 40px;
  }
  #conte {
    font-size: 14px; /* Réduire la taille de la police */
    max-width: 100%; /* Réduire la largeur du conteneur */
    margin: 0 auto; /* Centrer le contenu */
    word-spacing: -0.001em; /* Réduire l'espacement entre les mots */
  }
  .swiper-slide {
    transform: scale(0.8) !important; /* Réduire la taille du Swiper */
  }
  #masthead .main-navigation {
    top: auto;
  }
  .oscar {
    background-size: contain;
    left: 20px;
    top: 5px;
    padding-bottom: 200px;
    display: flex;
    width: calc(100% - 40px);
    max-width: 320px;
    overflow: hidden;
  }
  .oscar p {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 20px;
  }
  .oscar-image {
    width: 20%;
    position: relative;
    align-self: center;
  }
  .site-footer::before {
    left: 2em;
    top: 1em;
  }
  .site-footer::after {
    right: -6em;
    bottom: 5em;
  }
  .footer ul::after {
    left: calc(50% - 170px);
    bottom: -14em;
  }
  #new-title {
    font-size: 24px;
    padding: 20px;
    margin-right: 20px;
  }
  .main-character {
    width: 360px;
  }
  .swiper-wrapper {
    width: 300%;
  }
  .swiper-slide {
    flex: 0 0 33.3333333333%;
  }
  #lieu {
    min-height: 0;
    bottom: 350px; /* Remonte la section de 200px */
    margin-top: 100px; /* Remonte la section de 200px */
  }
  #lieu > div {
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  #lieu > div p {
    padding-right: 100px;
    font-size: 12px;
  }
  #lieu .lieu-container {
    left: -50px;
    padding-top: 20px;
  }
  .place--big_cloud {
    width: 100px;
    top: 40px;
    left: calc(100% - 200px);
  }
  .place--little_cloud {
    width: 80px;
    top: 120px;
    left: calc(100% - 50px);
  }
  .menu-item a {
    font-size: 28px;
    z-index: 999;
  }
  .studiok {
    top: 680px;
    z-index: 999;
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }
  .menu {
    display: none;
    position: absolute;
    right: 20%;
    width: 100%;
  }
  .menu li {
    margin: 10px 0;
  }
  .burger-menu-container {
    width: 100%;
    height: 160vh;
    position: absolute;
  }
  .burger-menu-container .menu-nav::before {
    top: 100px;
  }
  #logo-small {
    width: 40%; /* Vous avez modifié la largeur, je conserve cette modification */
    position: absolute; /* Utilisez une position relative pour permettre les déplacements */
    top: 100px; /* Déplacez le logo vers le bas de 100px si nécessaire */
    left: auto; /* Réinitialisez la propriété left */
    right: 80px; /* Déplacez le logo vers la droite de 90px */
    z-index: 999;
  }
  #studio {
    margin-top: -80px; /* Déplacer la section de 20 pixels vers le haut */
    top: 80px;
  }
  #story {
    margin-top: -300px; /* Remonte la section de 200px */
    z-index: -1;
  }
  #characters {
    width: 100%;
    min-height: 700px;
    position: relative;
  }
  #characters > div {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #characters h3 {
    background-image: url("./assets/images/orange_place_bg.png");
    margin-bottom: -1em;
    transition: opacity 0.5s ease; /* Ajout de la transition pour lisser le changement d'opacité */
  }
  .videolog {
    height: calc(100vh - 400px); /* Réduire la hauteur de la div */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    position: absolute;
  }
  .videolog.loaded {
    margin-top: -200px;
  }
  #logo {
    top: 100px;
  }
}/*# sourceMappingURL=responsive.css.map */