@charset "UTF-8";
@keyframes SectionParallax {
  from {
    opacity: 0;
    transform: translateY(180px);
    transition: opacity 0.5s ease, transform 1s ease;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* CSS pour l'effet de fondu */
/* fleurs qui tournent*/
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    /* Logo complètement transparent au début */
  }
  to {
    opacity: 1;
    /* Logo complètement visible à la fin */
  }
}
/* Animation de flottement */
@keyframes floatAnimation {
  from {
    transform: translateY(20px) translateX(-50%) rotate(-5deg);
    /* Déplacer légèrement le logo vers le bas et le faire pivoter de -10 degrés */
  }
  to {
    transform: translateY(-20px) translateX(-50%) rotate(5deg);
    /* Mouvement de flottement vers le haut */
  }
}
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation du burger-menu */
/* Styles pour la navigation dans le thème enfant */
/* Menu burger */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateFlowerSunflower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerBefore {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* le reste des fleurs qui tournent */
@keyframes rotateRandomFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandomFlowerAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Pour l'image Jaakuna-1.png */
/* Pour l'image Kawaneko.png */
/* Pour l'image Orenjiiro-1.png */
@keyframes ChatfloatSwingAnimationJaakuna {
  0%, 100% {
    transform: translateY(10px) rotate(10deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-10px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationKawaneko {
  0%, 100% {
    transform: translateY(5px) rotate(5deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-5px) rotate(-5deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
@keyframes ChatfloatSwingAnimationOrenjiiro {
  0%, 100% {
    transform: translateY(15px) rotate(-30deg);
    /* Ajuster la translation et la rotation de départ */
  }
  50% {
    transform: translateY(-15px) rotate(15deg);
    /* Déplacer vers le haut et rotation dans l'autre sens à mi-chemin */
  }
}
#studio.active h2 span#studiotext {
  opacity: 1;
  transform: translateY(0);
}
#studio.active::before, #studio.active::after {
  top: -10px;
  opacity: 1;
}

#studiotext.active::before, #studiotext.active::after {
  top: -10px;
  opacity: 1;
}

span#studiotext {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.story.active h2 span#text {
  opacity: 1;
  transform: translateY(0);
}
.story.active::before, .story.active::after {
  top: -10px;
  opacity: 1;
}

#text.active::before, #text.active::after {
  top: -10px;
  opacity: 1;
}

span#text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#character-title.active h3 span#character-title {
  opacity: 1;
  transform: translateY(0);
}
#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

#character-title.active::before, #character-title.active::after {
  top: -10px;
  opacity: 1;
}

span#character-title {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#lelieu.active h3 span#lelieu {
  opacity: 1;
  transform: translateY(0);
}
#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

#lelieu.active::before, #lelieu.active::after {
  top: -10px;
  opacity: 1;
}

span#lelieu {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.studio.active h2 span#koukaki {
  opacity: 1;
  transform: translateY(0);
}
.studio.active::before, .studio.active::after {
  top: -10px;
  opacity: 1;
}

#koukaki.active::before, #koukaki.active::after {
  top: -10px;
  opacity: 1;
}

span#koukaki {
  opacity: 0;
  transform: translateY(19px);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 0.15s;
}

@media (min-width: 870px) and (max-width: 1100px) {
  /* Ajustement de la taille de la police pour la section #characters */
  #characters {
    right: 30%;
    width: 100%;
    overflow: visible;
    position: relative;
  }
  /* Ajustement des styles pour la section .story #characters */
  .story__article {
    margin-top: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .story #characters {
    justify-content: center;
    align-items: left;
  }
  #story {
    top: 0px;
    bottom: 0px;
    margin-top: 0px;
  }
  .lieu-container {
    top: -50px;
  }
  #studio {
    top: -300px;
    margin-bottom: -300px;
  }
  h2 {
    font-size: xx-large;
  }
  #oscar.oscar {
    background-image: url(./assets/images/rectangle.png);
    background-repeat: no-repeat;
    background-size: 500px 250px;
    position: relative;
    left: 0px;
    top: 0px;
    padding-bottom: 400px;
    z-index: 1;
    display: flex;
    overflow: hidden;
  }
  #oscar.oscar p {
    font-family: "Quicksand", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    margin-top: 80px;
    margin-left: 60px;
    position: absolute;
    z-index: 2;
  }
  .oscar-image {
    top: 20%;
    left: 50%;
  }
  .menu-item a {
    top: 250px;
    font-size: 28px;
    z-index: 999;
  }
  #lieu > div p {
    padding-left: 2em;
  }
  #lieu .lieu-container {
    position: relative;
    overflow: hidden;
    left: -50px;
  }
  #lieu .lieu-container .videolog {
    height: 230px;
  }
  .story h2::before {
    top: 5em;
    z-index: auto;
    display: none;
  }
  .story h2::after {
    width: 100px;
    height: 100px;
    top: 4em;
    display: none;
  }
  #story {
    margin-top: 300px;
    margin-bottom: 0px;
  }
  .story__article {
    width: 60%;
    font-size: 14px;
    padding-bottom: 1em;
    margin-top: -20px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .story__article::before {
    top: auto;
    left: 24em;
    display: none;
  }
  .story__article::after {
    left: calc(50% + 214px);
    top: 9em;
    width: 50px;
    height: 50px;
    display: none;
  }
  #lieu > div {
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 40px;
  }
  .videolog {
    width: 100%;
    height: 230px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .videolog img {
    width: 30%;
    top: calc(50% - 100px);
  }
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    order: 2;
    display: block;
    left: 90%;
  }
  .menu {
    display: none;
    position: absolute;
    right: 0%;
    width: 100%;
  }
  .menu li {
    margin: 10px 0;
  }
  .burger-menu-container {
    width: 100%;
  }
  h3 {
    left: 0%;
  }
  .oscar-image {
    max-width: 300px;
    margin-right: 300px;
    margin-top: 130px;
  }
  #logo {
    top: 250px;
  }
  #studio {
    margin-top: 300px;
    margin-bottom: -200px;
  }
  #masthead .main-navigation .nav-menu {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .burger-menu-container .menu-nav::before {
    content: url(./assets/images/orchid.png);
    position: absolute;
    left: -60px;
    top: 50%;
    width: 173px;
    height: 169px;
    animation: rotateRandomFlower 10s linear infinite !important;
    transform-origin: center;
    z-index: -10;
  }
}/*# sourceMappingURL=tablette.css.map */